<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/quote.png">
    <script>
        let data = '<%- data %>';
    </script>
</head>

<body>
    <header>
        <a href="/"><img src="/img/home.svg" alt="home"></a>
        <h1>Quotes Veloce</h1>
    </header>

    <div class="container"></div>

    <script src="/js/main.js"></script>
</body>

</html>